@font-face {
  font-family: "iconfont"; /* Project id 3284423 */
  src: url('iconfont.woff2?t=1648461621058') format('woff2'),
       url('iconfont.woff?t=1648461621058') format('woff'),
       url('iconfont.ttf?t=1648461621058') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye-2:before {
  content: "\e669";
}

.icon-guanbi:before {
  content: "\e65a";
}

.icon-guanli:before {
  content: "\e65b";
}

.icon-liwu:before {
  content: "\e65c";
}

.icon-jifen:before {
  content: "\e65d";
}

.icon-fenxiang-1:before {
  content: "\e658";
}

.icon-gengduo-1:before {
  content: "\e659";
}

.icon-yonghu:before {
  content: "\e660";
}

